/* .main-container {
  overflow-y: auto;
} */
.main-container:has(.dynamic-columns > .column:nth-child(2)) {
  overflow: hidden;
}

@media (min-width: 640px) {
  .dynamic-columns > .column {
    width: 640px;
  }

  .dynamic-columns:has(> .column:nth-child(3)) > .column {
    width: 480px;
  }
}

/* .main-container:has(.dynamic-columns > .column:nth-child(2))
  .dynamic-columns
  > .column
  > .column-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
} */
