@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --width-header: 60px;
  --width-sidebar: 320px;
  --height-header: 50px;
  --col-1-lg: 640px;
  --col-1-sm: 480px;
  --col-settings: 840px;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar-menu: 304px;
}
@theme extend {
  --color-background: #fafafa;
  --color-foreground: #000000;
  --color-card: #ffffff;
  --color-card-foreground: #000000;
  --color-popover: #ffffff;
  --color-popover-foreground: #000000;
  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
  --color-secondary: #fafafa;
  --color-secondary-foreground: #000000;
  --color-muted: #fafafa;
  --color-muted-foreground: #65676b;
  --color-accent: #e4e6ea;
  --color-accent-foreground: #000000;
  --color-destructive: #e0245e;
  --color-destructive-foreground: #ffffff;
  --color-border: #dadde1;
  --color-input: #f0f2f5;
  --color-ring: #000000;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.dark {
  color-scheme: dark;
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-card: #121212;
  --color-card-foreground: #ffffff;
  --color-popover: #121212;
  --color-popover-foreground: #ffffff;
  --color-primary: #ffffff;
  --color-primary-foreground: #171717;
  --color-secondary: #242424;
  --color-secondary-foreground: #ffffff;
  --color-muted: #242424;
  --color-muted-foreground: #b0b3b8;
  --color-accent: #242424;
  --color-accent-foreground: #ffffff;
  --color-destructive: #ea3943;
  --color-destructive-foreground: #ffffff;
  --color-border: #404040;
  --color-input: #242424;
  --color-ring: #ffffff;
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
* {
  border-color: var(--color-border);
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body:has(.main-container .dynamic-columns > .column:nth-child(2)) {
  overflow-y: hidden;
}

.column > .column-container {
}

@media (min-width: 640px) {
  .dynamic-columns > .column {
    width: var(--col-1-lg);
    flex-shrink: 0;
  }

  .dynamic-columns:not(:has(> .column:nth-child(3))) {
    justify-content: center;
  }

  .dynamic-columns:has(> .column:nth-child(3)) {
    height: 100vh;
    overflow-x: auto !important;
    overflow-y: hidden;
    justify-content: flex-start;
  }

  .dynamic-columns:has(> .column:nth-child(3)) > .column {
    width: var(--col-1-sm);
    height: 20px;
    flex-shrink: 0;
  }

  .dynamic-columns:has(> .column:nth-child(2)) .header-column-extra {
    display: none;
    width: var(--col-1-sm);
  }

  .dynamic-columns:has(.settings-page) > .column {
    width: var(--col-settings);
  }
  .dynamic-columns:has(.settings-page) > .header-container {
    width: var(--col-settings);
  }

  .dynamic-columns:has(.settings-page) .header-column-extra {
    width: var(--col-settings);
  }

  .dynamic-columns:has(> .column:nth-child(3)) > .column > .column-container {
    overflow-y: auto;
    height: calc(100vh - var(--width-header));
  }
  .dynamic-columns:has(.column:nth-child(1)) > .column > .column-container {
    height: 100%;
  }

  .dynamic-columns:has(.column:nth-child(2)) > .column > .column-container {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: calc(100vh - var(--width-header));
    overflow-y: auto;
  }

  .dynamic-columns:has(.column:nth-child(2)) > .column > .header-container {
    cursor: grab;
    background-color: transparent;
  }
}

.main-container:has(.dynamic-columns > .column:nth-child(2))
  .dynamic-columns
  > .column
  > .column-container {
  overflow-y: auto;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
